<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Book List</h1>
        {% if news_titles %}
        <ul>
          {% for news in news_titles %}
          <li>
                <a href="{{ news.pk }}">{{ news.id }}</a> ({{news.title_new}})
          </li>
          {% endfor %}
        </ul>
        {% endif %} 
    
</body>
</html>