<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django News</title>
</head>
<body>
    
  <form method="GET" action="">
    <input type="text" name='query' placeholder="Search News Title ">
    <input type="submit" value="Search">
    
  </form>
  <h1><a href="{% url 'lista' %}">HOME</a></h1>
  <!-- {% if queryset %}
  <ul>
    {% for news in queryset %}
    <li>
          <a href="{{ news.pk }}">{{ news.id }}</a> ({{news.title_new}})
    </li>
    {% endfor %}
  </ul>
  {% endif %}  -->
  {% if object_list %}
  <h1>News List</h1>
  <ul>
      {% for new in object_list %}
        <li>
          {{new.id}} - {{ new.title_new }}
        </li>
      {% endfor %}
    </ul>
    {%endif%}

       
    
</body>
</html>